<h1 class="title">All albums</h1>
{{!-- <pre>{{albums}}</pre> --}}
<ul class="list albums">
    {{#each albums}}
    <li class="album shadow-box">
        <a class="link is-clickable" href="/album/{{this._id}}">
            <div class="color-code" 
            style="background: {{color-cat this.artist.style.name}}">
            </div>
            <h2 class="title">{{ this.artist.name }}&nbsp;</h2>
            <img class="cover" src="{{this.cover}}" alt="cover {{ this.title }}">
            <span>{{ this.title }} </span>
        </a>
    </li>
    {{/each}}
</ul>

{{!-- line below is experimental --}}
{{!-- {{> list albums}} --}}