{{> flash_message }}

<ul id="students" class="list">
    {{#each students}}
    <li>
        <span>firstname: {{this.firstname}}</span>
        <span>|</span>
        <span>email: {{this.email}}</span>
        <span>|</span>
        <span>age: {{this.age}}</span>
        <span>|</span>
        <span>cohort: {{this.cohort}}</span>
        <form style="display: inline" method="post" action="/delete-student/{{this._id}}">
            <button class="btn">
                <i class="fa fa-times"></i>
            </button>
        </form>

        {{!-- <a href="/delete-student/{{this._id}}">delete</a> --}}
    </li>
    {{/each}}
</ul>